*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template: repeat(5, 1fr)/ repeat(5, 1fr);
    min-height: 100vh;
    width: 100vw;
}

.sidebar{
    background-color: aqua;
    grid-column: 1/ 2;
    grid-row: 1 / 7;
    color: white;
}

.header{
    background-color: red;
    grid-column: 2 / 7;
    grid-row: 1/ 2;
}

.content{
    background-color: blueviolet;
    grid-column: 2/ 7;
    grid-row: 2/7;
}
